@font-face {
    font-family:'DancingScript';
    src: url(polices/DancingScript-Regular.ttf);
}
body{
    background: white;
}
article{
color: rgba(51,51,51,0.75);
font-size: 60px;
width: 80%;
display: flex;
width: 80%;
margin: auto;
height: 400px;
}
P{
    font-size: 20px;
    text-align: center;
    width: 60%;
    margin-left: 260px;
    font-family: 'DancingScript'; 
}
#image-gauche{
    height: 80%;
    width: 40%;
    border: white 4px solid;
    margin-left: 10px;
    float: left;
}
#CRM{
    margin-top: 20px;
    padding-top: 100px;
  
    height:270px ;
    padding: 15px;
    text-align: justify;
    color: rgb(0, 0, 0);
    width: 80%;
    
    display: inline-block;
    line-height: 2em;
}

#img1{
    width: 1000%;
}
.noine{
    font-family: 'DancingScript'; 
    color: rgba(51,51,51,0.75);
    font-size: 60px;
    text-align:center;
    margin-left: 40px;
    padding-top: 120px;
}
img {
    display: inline-block;
    width:150px;
    height: 200px;
}
.flexible {
    display: flex;
    align-items: center;
    margin: 1em;
}
.flexible div {padding: 1em}
#palmier{
    width:50% ;
    height:100% ;
}

#botona1{
    width: 150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
     background-color: #05a0c8;
}
#botona1:hover {
    background-color:#205295;
    color: white;
    
   }

input[type=text], input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   
   input[type=submit] {
    background-color: #05a0c8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #000000;
   
   }
   .A{
    display: inline-block;
    padding-left: 150PX;
    text-align: center;
   
   }
   .contact-container{
    display: inline-flex;
    padding-top: 10px;
    width:80%;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin:auto;
    padding-left: 0px;
    margin-left: 150px;
   }

   .b{
    padding-left: 20PX;
   }

 h3{
    text-align: center;
 }
 iframe{
    width: 100%;
 }

 

  
  button:hover{
    background-color: rgb(255, 230, 0);
    color: #ffffff;
  }  